@import "../../baseline";
@import "../../variables";

.loginWrapper{
    font-family: "Calibri";
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .loginDarkDiv{
        border-radius: 5px;
        background-color: $color1 ;
        color: white;
        width: 50vw;
        height: 40vh;
        position: relative;
        text-align: right;
        display: flex;
        justify-content: flex-end;
    }
    span{
        color: $color4;
    }
    .loginLightDiv{
        color: $color1;
        z-index: 1;
        position: relative;
        right: 45vw;
        background-color: white;
        width: 25vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 40px;
        justify-content: space-around;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 7.4px 9.4px 3.2px;
    }
    input{
        width: 15vw;
        height: 4vh;
        padding-left: 20px;
        border: none;
        border-bottom: 1px solid $color1;
    }
    button{
        width: 5vw;
        height: 4vh;
        border-radius: 5px;
        background-color: $color4;
        color: white;
        margin-left: 12vw;
    }
    p{
        margin-top: 50px;
        margin-right: 30px;
        font-size: 24px;
        width: 18vw; 
    }
}