@import "../../baseline";
@import "../../variables";

.candidatesWrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}
.candidatesMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    a{
        color: $color1;
    }
}
.candidateCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 35vh;
    margin: 1.3vw;
    background-color: white;
    padding: 30px;
    text-decoration: none;
    img{
        width: 100%;
        height: 20vh;
        border: 1px solid $color2;
        border-radius: 25px;
    }
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}