@import "../../baseline";
@import "../../variables";

.modal-wrapper{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-content{
    min-height: 400px;
    width: 400px;
    background-color: white;
    padding: 50px;
    border: 3px solid;
    position: relative;
}

.modal-content button.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 50%;
    border: none;
}