@import "../../baseline";
@import "../../variables";

.candidates{
    height: 100vh;
    display: flex;
    flex-direction: column;
    .candidatesWrapper{
        display: flex;
        flex-grow: 1;
        .searchCandidates{
            display: flex;
            justify-content: flex-end;
            margin-right: 10vw;
            input{
                padding-left: 20px;
                width: 30vw;
                height: 5vh;
                margin: 20px;
            }
        }
    }
}