@import "../../baseline";
@import "../../variables";

.candidates{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .candidatesMain{
        display: flex;
        flex-grow: 1;
    }
}
