@import "../../baseline";
@import "../../variables";
.header {
    background-color: $color1;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    color: white;
    .headerButton {
        display: flex;
        justify-content: center;
        .active {
            background-color: $color4;
            color: white;
        }
    }
    button {
        width: 15vw;
        height: 4vh;
        background-color: white;
        border-top: none;
        border-bottom: none;
        border-radius: 5px;
        color: $color1;
    }
    button:hover {
        cursor: pointer;
        background-color: $color4;
        color: white;
    }
    img {
        width: 60px;
        margin-left: 8vw;
    }
    ;
    .logout {
        margin-left: 2vw;
        margin-right: 5vw;
        width: 5vw;
        background-color: $color6;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 12px;
    }
    .logout:hover {
        background-color: $color7;
    }
    @media screen and (max-width: 768px) {
        .logout {
            font-size: 8px;
        }
    }
    @media screen and (max-width: 600px) {
        .headerButton {
            width: 80vw;
            justify-content: center;
        }
        .logout {
            margin-left: 8vw;
            min-width: 10vw;
        }
        button {
            width: 22vw;
            font-size: 10px;
        }
    }
}