@import "../../baseline";
@import "../../variables";

.header{
    background-color: black;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    color: white;
        button{
            width: 15vw;
            height: 4vh;
        }
}

.logout{
    margin-left: 2vw;
    margin-right: 5vw;
    max-width: 4vw;
}