@import "../../baseline";
@import "../../variables";


.interviews{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .interviewsMain{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
.interviewsWrapper{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.searchInterviews{
    margin-top: 15px;
    input{
        width: 20vw;
        height: 4vh;
        padding-left: 20px;
    }
}